.book_logo {
    margin-left: 5px;
}
.inline-market {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.inline-market h6 {
    margin-right: 1rem;
    margin-bottom: 0; /* Remove bottom margin to align properly */
}

.inline-outcome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin-bottom: 0.5rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
}

header h1 {
    margin: 0;
    font-size: 24px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.live-switch-container {
    display: flex;
    align-items: center;
}

.live-switch-label {
    margin-right: 10px;
    font-size: 16px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(20px);
}

.last-updated {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
    color: #555;
}

.col-md-6 {
    max-width: 25% !important;
}

.better-value {
    background-color: #d4edda;
    color: #155724;
    font-weight: bold;
}

/* Match the styles for both switches */
.switch-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.switch-label {
    margin-right: 10px;
    font-size: 16px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* Update existing classes for live switch */
.live-switch-container, .better-value-switch-container {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

/* Combine both switches on the same line */
.switch-container-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px; /* Add some spacing between the switches */
}
/* Target only Firefox using the @-moz-document rule */
@-moz-document url-prefix() {
    h1, h2, h3, h4, h5, h6 {
      font-weight: 600 !important;
    }
  }
  