<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sports Betting Odds</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <div class="d-flex justify-content-between">
        <h1>Sports Betting Odds</h1>
        <p class="text-muted">Last Updated: {{ games[0].last_update if games else 'N/A' }}</p>
    </div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link {{ 'active' if sport == 'baseball_mlb' else '' }}" href="/?sport=baseball_mlb">MLB</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{ 'active' if sport == 'basketball_nba' else '' }}" href="/?sport=basketball_nba">NBA</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{ 'active' if sport == 'icehockey_nhl' else '' }}" href="/?sport=icehockey_nhl">NHL</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{ 'active' if sport == 'soccer_usa_mls' else '' }}" href="/?sport=soccer_usa_mls">MLS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{ 'active' if sport == 'soccer_epl' else '' }}" href="/?sport=soccer_epl">EPL</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{ 'active' if sport == 'soccer_germany_bundesliga' else '' }}" href="/?sport=soccer_germany_bundesliga">Bundesliga</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{ 'active' if sport == 'soccer_italy_serie_a' else '' }}" href="/?sport=soccer_italy_serie_a">Serie A</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{ 'active' if sport == 'soccer_spain_la_liga' else '' }}" href="/?sport=soccer_spain_la_liga">La Liga</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{ 'active' if sport == 'soccer_uefa_champs_league' else '' }}" href="/?sport=soccer_uefa_champs_league">UCL</a>
        </li>

    </ul>
    {% for game in games %}
    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">{{ game.home_team }} vs {{ game.away_team }}</h5>
            <p class="card-text">Start Time: {{ game.commence_time }}</p>
            <div class="row text-center mb-2">
                <div class="col-md-6">
                    <img src="{{ url_for('static', filename='img/fanduel_logo.jpg') }}" alt="FanDuel Logo" height="30">
                    <h6>FanDuel</h6>
                </div>
                <div class="col-md-6">
                    <img src="{{ url_for('static', filename='img/pinnacle_logo.jpg') }}" alt="Pinnacle Logo" height="30">
                    <h6>Pinnacle</h6>
                </div>
            </div>
            {% for market in game.formatted_markets %}
                <h6>{{ market.type.capitalize().replace('H2h', 'Moneyline') }}</h6>
                {% for data in market.data %}
                    <div class="row text-center">
                        <div class="col-md-6">
                            <span>{{ data.name }} {{ data.f_point }}: {{ data.fanduel }}</span>
                        </div>
                        <div class="col-md-6">
                            <span>{{ data.name }} {{ data.p_point }}: {{ data.pinnacle }}</span>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
</body>
</html>
